/*Fonts*/
/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

/*Defaults*/
body{
    font: 1em/1.5 'Poppins',Helvetica,Arial,sans-serif !important;
}

body.custom-background{
    background-color: #F4F4F4;
}

/*Nav & Header*/
header{
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: rgba(22,22,22,0.7);

}
header #top-strip {
    float:none !important;
}

/* === Begin Navbar === */

.navbar-header .navbar-brand img{
    max-width: 212px;
    height: auto;
}

.navbar-brand{
    height: auto;
    padding:0;
}

.navbar-toggle{
    margin: 0;
    order: 2;
}

.navbar-toggle:hover{
    background: white !important;
    border-color: white;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out; /* IE10 is actually unprefixed */
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.navbar-collapse{
    padding:0;
}

.navbar-right li:last-child a {
    margin-right: 0 !important;
}

ul.social-icons {
}

select.dsidx-resp-select, select.dsidx-beds, select.dsidx-baths {
    font-weight: 300;
    color: #ccc;
}

option:not(:first-child) {
    color: #000;
}
option:first-hand {
    color: #ccc;
}


#premium-bar, .navbar, .container-fluid, .navbar-header{
    padding: 0;
    margin:0 !important;
    width: 100%;
}

.navbar-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:2em;
    float: left;
    width: auto;
}

@media (max-width:768px) {
    .navbar-header{
        width: 100%;
    }

}

ul#menu-header-menu{
    float: right;
    display: flex;
    padding: 2em 0;
}

header #top-strip{
    padding:2em 2em 0 2em;
}

.navbar-header::after, .navbar-header::before{
    display: none;
}

#contact-box a{
    line-height: 24px;
}

#contact-box a:last-child{
    margin-right: 0;
}

/* === End Nav === */

.flex-direction-nav a {
    background-color: white;
    color:#4A4A4A;
}
.slider-section{
    position: absolute;
    top: 52px;
}

#premium-bar{
    padding-top: 0;
    position: relative;
    background: transparent;
}
#premium-bar nav .active a {
    border-radius: 0;
    border: solid white 1px;
    background: rgba(255, 255, 255, 0.0) !important;
    color: white !important;
}
#premium-bar nav li{
    margin-left: 1em;
}
#premium-bar nav .active a:hover,
#premium-bar nav li a,
#premium-bar nav li a:hover {
    border-radius: 0;
}

/*hero-section*/
.main-flexslider{
    height: 51.9vh;
    min-height: 640px;
    overflow: visible;
}
.main-flexslider .slides {
    height: 100%;
    width: 100%;
}
.main-flexslider ul.slides {
    height: calc(100% + 15em);
    overflow: hidden;
}

.main-flexslider ul.slides img {
    min-height: 100% !important;
    min-width: 100% !important;
    width: auto;
    height: auto;
    position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);

}

.main-flexslider .slides .slides{
    background-color: #ccc;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}
.main-flexslider .slides .slides .slide-box{
    color: white;
    background: rgba(0,0,0,0.7);
    width: 60vw;
}
.main-flexslider .slides .slides .slide-box p,
.main-flexslider .slides .slides .slide-box h2{
    color: white;
}
.main-flexslider .slides .slides .slide-box p{
    font-size: 1.5em;
    font-weight: 100;
}
.main-flexslider .slides .slides .slide-box h2{
    font-size: 3.3em;
    font-weight: 500;
}
.main-flexslider .flex-direction-nav .flex-prev{
    border-bottom-right-radius: 3em;
    border-top-right-radius: 3em;
    top: calc(50% + 60px) !important;
}
.main-flexslider .flex-direction-nav .flex-next{
    border-bottom-left-radius: 3em;
    border-top-left-radius: 3em;
    top: calc(50% + 60px) !important;
}
.main-flexslider .slides .slides .slide-box{
    color: white;
    background: rgba(0,0,0,0.7) !important;
}
.main-flexslider .slides .slides .slide-box p {
    margin: 0 0 0.1em;
}
.slide-item-features{
    padding-bottom: 0!important;
}
.slide-item-features li{
    border: none;
    background-color: transparent !important;
    border: none !important;
    color: white !important;
}
.slide-item-features li span::before{
    display: none;
}
.slide-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    align-self: center;
    left: auto !important;
    margin-left: 0 !important;
    bottom:auto !important;
    position: relative !important;
    max-width: 80em;
}

.main-flexslider .slides .slides .slide-box .slider-buttons-wrapper{
    margin: 1em 0 !important;
}

@media screen and (max-width: 679px) {
    .main-flexslider .slides .slides .slide-box {
        display: block !important;
        width: 100%;
    }



    .main-flexslider .flex-direction-nav .flex-prev, .main-flexslider .flex-direction-nav .flex-next{
        opacity: .25;
    }

    .dsidx-resp-area-submit  {
        display: block !important;
        float: left !important;
        margin-top: 1em;
        width: 100% !important;
        height: auto !important;
    }

    .dsidx-resp-area-submit input{
        width: 100% !important;
    }

    .dsidx-resp-area {margin-bottom: 1em;}
    #pg-74-0 {
        top: 15em !important;
        background: rgba(0, 0, 0, 0.8) !important;
    }

    #pg-74-1{margin-top: 15em !important;position: relative;}

    .slide-box{
        top: 58%;

    }

    .listing-single-item {
    max-width: 100% !important;
    width: 100% !important;
}

    .main-flexslider .flex-direction-nav .flex-prev, .main-flexslider .flex-direction-nav .flex-next {
        top: calc(60% + 60px) !important;
    }
}


.slider-buttons-wrapper .yellow-btn{
    background-color: transparent;
    color: white;
}
.slider-buttons-wrapper .gray-btn{
    background-color: transparent;
    color: #D6B064;
    text-decoration: underline;
}
.slider-buttons-wrapper .gray-btn span::before{
    display: none !important;
}

/*idx search*/
#pg-74-0{
    padding: 2em;
    width: 100% !important;
    position: relative;
    min-height:15em;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    ms-flex-direction: row !important;
    webkit-flex-direction: row !important;
    flex-direction: row !important;
    align-items: center !important;
}

div#pl-74{
    clear:both;
}

.dsidx-widget-quick-search{
    color: white;
    padding: 0;
}

.panel-grid-cell .so-panel:after, .dsidx-resp-search-box:after{
    display:none !important;
}

.panel-grid.panel-no-style, .panel-grid.panel-has-style > .panel-row-style {
    align-items: center !important;
}

.dsidx-widget-quick-search h3{
    display: none;
}

form.dsidx-resp-search-form {
    text-align: center;
}

.dsidx-resp-price,
.dsidx-resp-type,
.dsidx-resp-location, label.dsidx-resp-submit, .dsidx-resp-area label {
    font-size: 1.3em !important;
    font-weight: 500;
    line-height: 1.6em;
    display: inline-block;
    padding-left: 1em;
}

.dsidx-resp-area {
    display: flex;
    flex-direction: column;
    height:8em;
}

.dsidx-resp-area-submit input[type="submit"],
.dsidx-resp-area.dsidx-resp-location-area input,
.dsidx-price, .dsidx-resp-select, .dsidx-beds, .dsidx-baths {
    font-size: 1.4em;
    padding: 1em 1em;
    height: 3.6em;
    color:#4A4A4A;
    border-radius: 4px !important;
    border-style:none;
    margin:0 !important;
    line-height: 2em;
}

.dsidx-resp-area-submit input[type="submit"]{
    background-color: #D6B064 !important;
}

/*featured home for sale and for lease */
.title-home-for-sale .textwidget a,
.title-home-for-lease .textwidget a{
    border: none;
    background-color: transparent;
    color: #1C527F;
    text-decoration: underline;
    font-size: 23px;
    font-weight: 500;
}
.list-types.panel-row-style{
    flex-direction: row;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 6em 0;
}

.homes-for-sale .widget-title{
    border: none;
    background-color: transparent;
    color: #1C527F;
    text-decoration: underline;
    font-size: 23px;
    font-weight: 500;
    /*position: absolute;*/
    padding: 0;
    left: 0;
    top: -54px;
    text-transform: capitalize;
}
.homes-for-sale .dsidx-results-widget,
.homes-for-lease .dsidx-results-widget{
    height: auto !important;

}
.homes-for-sale .dsidx-photo,
.homes-for-lease .dsidx-photo{
    width: 100% !important;
}
.homes-for-sale .dsidx-photo img,
.homes-for-lease .dsidx-photo img{
    max-width: none !important;
    height: 100%;
}
.homes-for-sale .dsidx-results-widget,
.homes-for-lease .dsidx-results-widget{
    color: #4A4A4A;
    width: 100% !important;
    /*max-width: 560px !important;*/
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
    padding-left: 0;
    padding-right: 0;
    width: 26vw;
    flex-wrap: wrap;
    /*max-width: 360px;*/
}
.homes-for-sale .dsidx-results-widget .dsidx-expanded,
.homes-for-lease .dsidx-results-widget .dsidx-expanded{
    display: flex !important;
    padding: 0;
    margin: 0;
    height: 100%;
}
.homes-for-sale .dsidx-results-widget .dsidx-expanded .featured-listing,
.homes-for-lease .dsidx-results-widget .dsidx-expanded .featured-listing{
    padding: 0;
    margin: 0 !important;
    width: 100%;
}
.homes-for-sale .dsidx-results-widget .dsidx-expanded .featured-listing a,
.homes-for-lease .dsidx-results-widget .dsidx-expanded .featured-listing a{
    position: relative;
    color: #1C527F;
    top: 0;
    text-transform: none;
    font-weight: 500;
    font-size: 2em;
    width: 45% !important;
    height: 18vw;
    /*height: 170px;*/
    overflow: hidden;
    margin-right: 1em;
}
div.dsidx-results-widget ul,
div.dsidx-results-widget ul li,
div.dsidx-results-widget h4,
div.dsidx-results-widget p{
    margin-left: 0 !important;
}

div.dsidx-results-widget h4{
    padding: 2em 2em 0 2em;
    width: calc(104.7% - 2em) !important;
}
div.dsidx-results-widget ul{
    padding: 0 2em;
}
/*div.dsidx-results-widget ul li:last-child{
display: none;
}*/

div.dsidx-results-widget ul li.price{
    display: none !important;
}

div.dsidx-results-widget .dsidx-controls{
    display: none;
}
/*Listings*/
.panel-grid{
    margin-bottom: 30px !important;
}
.listings-items-wrapper{
    margin-left: 0;
    margin-right: 0;
}
.title-box .bordered{
    display: none;
}
.title-box h3{
    border: none;
    background-color: transparent;
    color: #1C527F;
    text-decoration: underline;
}
.type-tiles{
    display: flex;
    justify-content: center;
    width: 85vw;
    margin: 0 auto;

}
.type-tiles .panel-grid-cell{
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
}

.type-tiles .panel-grid-cell:first-child{
    margin-right: 3em;
}
.type-tiles .col-md-4.listing-single-item{
    height: 256px !important;
    width: 100% !important;
    max-width: 560px !important;
}

.type-tiles .col-md-4.listing-single-item .item-inner{
    display: flex;
    flex-direction: row;
}

.type-tiles .container{
    width:100%;
}

.item-inner .featured{
    background-color: rgba(0, 0, 0, 0.65);
    bottom: auto;
    top: 0;
    left: 0;
    border-radius: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 300;
}
.listing-single-item{
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
    padding-left: 0;
    padding-right: 0;
    width: 26vw;
    flex-wrap: wrap;
    max-width: 331px;
}
.listing-single-item .desc-box h4 a{
    color: #1C527F !important;
    font-size: 2em !important;
}
.recent-listings .container{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.recent-listings .item-features{
    border-bottom: solid 1px #000;
}
.property-type-icon{
    display: none;
}

/*Items Features*/
ul.item-features li{
    color: #000 !important;
    font-size: 1.2em !important;
}
.row .listings-items-wrapper{
    display: flex;
}
.item-inner .desc-box .buttons-wrapper a{
    background-color: transparent;
}
.item-inner .desc-box .buttons-wrapper .yellow-btn{
    font-size: 3em;
    text-decoration: none;
    color: black !important;
}
.item-inner .desc-box .buttons-wrapper a {
    color: #1C527F !important;
    text-decoration: underline;
}
.item-inner .desc-box .buttons-wrapper a span::before {
    display: none !important;
}
.listing-single-item:nth-child(2),
.listing-single-item:nth-child(5){
    margin-right: 1vw;
    margin-left: 1vw;
}

/*Agent Slider*/
.agents-slider .owl-wrapper-outer .owl-wrapper .owl-item{
    width: 45vw !important;
    max-width: 560px;
    margin-right: 2em;
}
.agents-slider .owl-wrapper-outer .owl-wrapper .owl-item .single-agent{
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);

}

.single-agent .image-box .social-icons{
    display: none;
}
.single-agent .desc-box .person-fax{
    display: none;
}
/*Detail Page*/
.page-title-section .page-title,
.blog-content .alert{
    display: none;
}

/*Footer*/
footer{
    color: white !important;
}
footer .col-md-3 {
    width: 25vw;
}
#email-address{
    background-color: white;
}
.bottom-strip span{
    color: white !important;
}
#backtop-btn{
    display: none !important;
}

/* CUSTOM */

.dsidx-results-widget.dsidx-widget {
    margin: 0 auto !important;
    max-width: 1024px !important;
    display: flex !important;
}

h3.widget-title{
    color: #1C527F;
    text-decoration: underline;
    font-size: 23px;
    font-weight: 500;
}

.widget_dsidx-listings.dsidx-widget-listings{
    max-width: 1024px;
    margin:0 auto 30px;
}

.featured-listing{
    background: white !important;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
padding-top:0 !important;
}

.dsidx-widget .dsidx-expanded.dsidx-panel{
    width: 100%;
}

.homes-for-sale .dsidx-results-widget .dsidx-expanded .featured-listing, .homes-for-lease .dsidx-results-widget .dsidx-expanded .featured-listing{
    /*padding-right: 3rem !important;*/
}

div.dsidx-results-widget ul{padding:0;}

div.dsidx-results-widget .featured-listing h4, div.dsidx-results-widget .featured-listing ul {
    padding:0;
    margin:0;
    float:right;
    width: 60% !important;
    box-sizing: border-box;
    padding: 0 3rem 0 3rem !important;
}

div.dsidx-results-widget .featured-listing ul:last-child{
    margin-bottom: 3rem !important;
}

div.dsidx-results-widget .featured-listing h4{
    margin-bottom: 1.2em !important;
    margin-top: 3rem !important;
    /*padding-right: 0 !important;*/
}

div.dsidx-results-widget .featured-listing h4 a  {
    font-size: 2em !important;
    line-height: 1.4em !important;
    color: #1c527f;
    font-weight: 300 !important;
    text-transform: none;
    margin: 0 !important;
    /*margin-bottom: .3rem !important;
    padding-bottom: 1.6rem !important;
    border-bottom: 1px solid #ccc;*/
    display: block;
    max-width: none !important;
    width: 100% !important;
}

div.dsidx-results-widget .featured-listing ul li {
    font-size:1.2em !important;
    line-height: 1.6em !important;
}

/*div.dsidx-results-widget .dsidx-panel .dsidx-photo::before{
    content: "Featured Listing";
    position: absolute;
    text-transform: uppercase;
    color: white;
    font-size: 1.1rem;
    display: block;
    background: rgba(0,0,0,.5);
    width: 100%;
    text-align: center;
    padding:0 1em;
    font-weight: 300 !important;
    letter-spacing: .15em;
    line-height: 1.5rem;
    padding: 1rem;
}*/

*, :not('fa'){
    font-family: 'Poppins',Helvetica,Arial,sans-serif !important;
}

div.dsidx-results-widget .dsidx-panel .dsidx-photo {
    float:left;
    top:0;
    position: relative;
    width: auto;
    max-width: 40% !important;
    display: flex;
    justify-content: center;
}

div.dsidx-results-widget .dsidx-panel .dsidx-photo img{
    height:100%;
    border: 0 !important;

}

.homes-for-sale .dsidx-results-widget .dsidx-expanded .featured-listing a,
.homes-for-lease .dsidx-results-widget .dsidx-expanded .featured-listing a{
    height:100%;
    /*max-width: 40% !important;*/
    width: 100% !important;
    margin: 0;
}

#pg-74-0, #pg-74-1, #pl-74 .so-panel {
    margin-bottom: 0 !important;
}

.title-home-for-sale .textwidget a, .title-home-for-lease .textwidget a, .panel-grid-cell .widget-title {
    margin-bottom: 1.5em !important;
    display: block;
}

.list-types.panel-row-style {
    padding: 8em 0;
}

a.dsidx-photo {
    width: 40% !important;
    height: 100% !important;
    float: left;
    margin: 0 !important;
}

div.dsidx-results-widget .dsidx-panel .dsidx-photo img{
    height: 100%;
    min-width: 100%
}

.homes-for-sale .dsidx-results-widget .dsidx-expanded .featured-listing a, .homes-for-lease .dsidx-results-widget .dsidx-expanded .featured-listing a {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.featured-listing {
    /*padding-right: 3rem !important;*/
}

.idx-search h3 {
    display: none !important;
}

div.dsidx-results-widget .featured-listing:nth-child(odd){
    width:calc(33% - ( 0.5 * 30px ) );
    float:left;
    /*clear: both;*/
}
div.dsidx-results-widget .featured-listing:nth-child(even){
    width:calc(33% - ( 0.5 * 30px ) );
    float:right;
}

div.dsidx-results-widget .featured-listing:nth-child(n+3){
    /*margin-top: 3rem!important;*/
}

div.dsidx-results-widget .featured-listing{
}

#pg-74-1.panel-no-style, #pg-74-1.panel-has-style > .panel-row-style {
    align-items: flex-start !important;
}

.homes-for-sale:hover, .homes-for-lease:hover, div.dsidx-results-widget .featured-listing:hover, .listing-single-item:hover{
    -webkit-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.08) !important;
    -moz-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.08) !important;
    box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.08) !important;
    transition: .1s;
    transform: translateY(-1px);

}


}
div.dsidx-results-widget .dsidx-panel .dsidx-photo {
    height: 100% !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important;
    overflow: hidden;
}

div.dsidx-results-widget .dsidx-panel .dsidx-photo img{
    height: 100%;
        min-width: 100%;

}

.dsidx-expanded, div.dsidx-results-widget {
    overflow: visible !important;
}

.featured-listing{
    webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2) !important;
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2) !important;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2) !important;
}

.homes-for-sale .dsidx-results-widget, .homes-for-lease .dsidx-results-widget{
    webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0) !important;
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0) !important;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0) !important;
}

.panel-grid{
    padding:0 3rem;
}

.homes-for-sale .dsidx-results-widget .dsidx-expanded .featured-listing a, .homes-for-lease .dsidx-results-widget .dsidx-expanded .featured-listing a, .listing-single-item .item-inner .desc-box h4 a,  .single-agent .desc-box h4, div.dsidx-results-widget .featured-listing h4 a{
    font-weight: 700 !important;
}

.listing-single-item {
    background: white;
}


.item-inner .desc-box .buttons-wrapper a {
    font-size: 1.4rem;
    padding: 0;
    line-height: 3rem;
    vertical-align: middle;
}

.listing-single-item .item-inner .desc-box .item-features{
    padding-bottom: 1rem !important;
}

.buttons-wrapper {
    margin: 1.5rem 0 !important;
}

.owl-theme .owl-controls .owl-buttons div {
    background-color: #e5e5e5;
    opacity: 1;
    border-radius: 0;
    font-size: 42px;
    padding: 0px 23px;
    margin: .5px;
    color: #666;
}

.single-agent .desc-box .gray-btn {
    background-color: white;
    color: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.single-agent .desc-box .gray-btn:hover {
    border:1px solid #0095e6;
}

.owl-next:hover, .owl-prev:hover{
    background: #0095e6 !important;
    color: white !important;
    transition: .2s;
}

.owl-carousel .owl-wrapper-outer, .owl-wrapper{
    overflow: visible;
}


.single-agent .image-box img {
    min-height: 100%;
    overflow: hidden;
    width: auto !important;
}

.single-agent .image-box {
    float: left;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.single-agent .desc-box {
    width: 60% !important;
}

footer .container .footer-contact-info p i{background: none !important;}
.panel-last-child .textwidget {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .05rem;
}

footer .container .footer-newsletter input[type='submit'] {
    border-radius: 0 3px 3px 0;
}

footer .container .footer-newsletter input[type='text'] {
    text-indent: 1.5rem;
    padding-top: 4px !important;
}

footer .container .footer-contact-info p {
    height: 30px;
}


.listing-single-item {
/*width: auto !important;*/

}

@media screen and (max-width: 679px){
    .listing-single-item{
        width:100% !important;
    }

    .agents-slider .owl-wrapper-outer .owl-wrapper .owl-item {
    width: 88vw !important;
    margin-bottom: 3rem !important;
    }
}

    .listing-single-item:nth-child(2), .listing-single-item:nth-child(5) {
         margin-right: 0 !important;
         margin-left: 0 !important;
    }


    .listings-items-wrapper {
        margin-left: 0;
        display: flex;
        margin-right: 0;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

    }

.listings-items-wrapper::before, .listings-items-wrapper::after{display: none !important;}
.agents-section{
    margin-bottom: 3rem;
}

div.dsidx-results-widget .dsidx-panel .dsidx-photo {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-start;
}

.listing-single-item .item-inner .image-wrapper img {
    width: auto !important;
    min-width: 100% !important;
    height: auto;
}

.listing-single-item .item-inner .image-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
}
.listing-single-item .item-inner .image-wrapper a {

    min-width: 100%;
}

.container .title-box{margin: 0; padding: 0;}
.title-box h3{padding:0; margin: 0;}
.recent-listings .container .listings-items-wrapper{margin: 0!important;}
.listing-single-item {margin-top: 0 !important; margin-bottom: 3rem !important;}

.recent-listings {
    float: left;
    width: 100%;
    margin: 12rem 0;
}

.agents-section .container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

}

.agents-slider .owl-wrapper-outer .owl-wrapper .owl-item {
    max-width: 48rem;
}

#pg-w590425ba8c43f-0.panel-no-style, #pg-w590425ba8c43f-0.panel-has-style > .panel-row-style {
    display: none;
}


.listing-single-item:nth-child(2), .listing-single-item:nth-child(5) {
    margin-right: 0vw;
    margin-left: 0vw;
}
@media (max-width: 780px){

    .featured-listing{
        width: 100% !important;
    }

    div.dsidx-results-widget .dsidx-panel .dsidx-photo img{
        height: 100%;
        min-width: 100%;
        max-width: 1000% !important;
        width: 120%;
        min-height: 100% !important;
    }


}

#siteorigin-panels-builder-2 {
}

footer .container {
    width: 100%;
    padding: 0 3rem !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

footer .container::after, footer .container::before {display: none !important;}


footer .col-md-3 {
    width: auto !important;
    float: left;
    box-sizing: border-box;
    padding-right: 3rem !important;
    padding-left: 0 !important;
}
div#footer-newsletter-3 {padding-right: 0 !important;}

#pg-w58d898ab6315d-0{
    padding: 0 !important;
}

footer .container .footer-title{
    margin-bottom: 1rem !important;
}

footer .container .footer-contact-info p{
    display: block;
    margin-bottom: 0 !important;
}

#footer-contact-info-3 h3 {
    margin-bottom: 0;
}

#footer-contact-info-3 i {
    padding-left: 0 !important;
    padding-top: 0 !important;
}

footer .container .footer-newsletter .footer-search{
    width: auto !important;
}

div.dsidx-results-widget .featured-listing:nth-child(2) {
    overflow: hidden;
    white-space: normal;
    margin: 15px 0;
}

.listing-single-item {
    max-width: 48% !important;
    width: 31% !important;
}

.listing-single-item:nth-child(2), .listing-single-item:nth-child(5){
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.single-agent .desc-box p{
    word-break: break-all;
}

.agents-section .container .agents-slider {
    margin-top: 0 !important;
}

/* BEGIN WORK ON CONTACT PAGE */

.blog-page .blog-content .blog-post, .blog-page .blog-content .agent-post {
    background: none;
}

.page-id-20 .content-section {
    position: relative;
    margin-top: 15rem;
    /*margin-bottom: 10rem;*/
}

#panel-20-1-1-0, #panel-20-1-1-0 h3{
    text-align: right !important;
    margin-bottom: .5rem !important;
    text-decoration: none;
    font-weight: 700;
    text-transform: none;
    font-size: 1.4rem;
}

.website-number {
    margin-top: 1rem;
}

div#pg-20-0 {
    margin-bottom: 5rem !important;
    padding: 0 !important;
}

#pg-20-1{
    align-items: flex-start !important;
    padding: 0 !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}
#pg-20-1 p{
    font-size: 1.4rem;
}


.post-20 .post-content{
    width: 100% !important;
    padding: 0 !important;
}

#panel-20-0-0-0 {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    margin-bottom: 4rem;
    column-gap: 4rem;
}


.blog-page .blog-content .blog-post .post-content h1 a, .blog-page .blog-content .blog-post .post-content h1, #panel-20-1-0-0 h3 {
    font-family: 'Poppins',Helvetica,Arial,sans-serif !important;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .1rem;
    margin-bottom: 1.4rem;
}

.widget_text p {
    font-family: 'Poppins',Helvetica,Arial,sans-serif !important;
}

.website-email a {
    color: white;
}

#map {
    margin-top: 4rem !important;
    height: 30rem !important;
}

/* CONTACT PAGE FORM */
legend, .legend{
    display: none;
}

#panel-20-1-0-0 h3{
    text-transform: capitalize !important;
    text-decoration: none;
    font-size: 2rem !important;
    margin-bottom: 1rem !important;
}

#panel-20-1-0-0 h3::after {
    content: 'Find out more about this listing!';
    display: block;
    font-size: 1.4rem;
    letter-spacing: 0;
    line-height: 3rem;
}

#footer-contact-info-3, #footer-newsletter-3 {
    margin-top: 2rem;
}

#contactUsFieldset th {
    display: none;
}

#panel-20-1-0-0 input.text, #panel-20-1-0-0 textarea {
    padding: .5rem;
    margin-bottom: 1rem !important;
    border: 1px solid #ccc;
    font-weight: 300 !important;
    border-radius: 0 !important;
    box-shadow: none;
    font-size: 1.3rem !important;
    color:black !important;
    width: 100% !important;
}

#panel-20-1-0-0 textarea{
    margin-bottom: 0 !important;
}

#panel-20-1-0-0 input.button {
    background: #323943 !important;
    color: white !important;
    padding: 0.75rem 6rem .5rem !important;
    border: 0 !important;
    width: auto !important;
    font-size: 1.2rem !important;
}

.primaryButtons{
    text-align: left !important;
    margin: 0 !important;
}

form#contactUsForm {
    margin-bottom: 3rem;
}

#panel-20-0-0-0{
    padding: 2em;
width: 100% !important;
position: relative;
min-height: 6em;
z-index: 2;
background: rgba(0, 0, 0, 0.5);
display: flex;
ms-flex-direction: row !important;
webkit-flex-direction: row !important;
flex-direction: row !important;
align-items: center !important;
justify-content: center;

left: -50vw;
margin-left: 50%;
top: 0;
width: 100vw !important;
}

#panel-20-0-0-0 h3 {
    display: none;
}

#panel-20-0-0-0 .dsidx-resp-area-submit input[type="submit"], #panel-20-0-0-0 .dsidx-resp-area.dsidx-resp-location-area input, #panel-20-0-0-0 .dsidx-price, #panel-20-0-0-0 .dsidx-resp-select, #panel-20-0-0-0 .dsidx-beds, #panel-20-0-0-0 .dsidx-baths{
    font-size: 1.4rem;
    padding: 1rem;
    line-height: 2rem;
}

#panel-20-0-0-0 .dsidx-resp-price, #panel-20-0-0-0 .dsidx-resp-type, #panel-20-0-0-0 .dsidx-resp-location, #panel-20-0-0-0 label.dsidx-resp-submit, #panel-20-0-0-0 .dsidx-resp-area label {
    font-size: 1.3rem !important;
    font-weight: 500;
    line-height: 1.6em;
    display: inline-block;
    padding-left: 1em;
}

header #contact-box a, .social-icons li a {
    color: white;
}

.dsidx-resp-search-form fieldset {
    border: 0;
    /* display: inline-block; */
    padding: 0;
    /*height: 6em;*/
    margin: 0;
}

.post-content h1 {
    margin-top: 4em;
}
.post-20 .post-content > h1 {
    display: none;
}

.col-md-12.blog-content{
    padding: 0  !important;
}

.col-md-12.blog-content .row{
    margin:0 !important;
}

.content-section .container{
    margin-top: 0;
}

.row {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}

.edit {
    margin: 0 !important;
}

@media (max-width: 780px) {
    #pl-20 #pgc-20-1-1, #pl-20 #pgc-20-1-0 {
        width: auto !important;
    }

    .dsidx-resp-search-form fieldset {
        height: auto !important;
    }
}

@media (max-width: 560px) {
    #pl-20 #pgc-20-1-1, #pl-20 #pgc-20-1-0 {
        width: 100% !important;
    }
}

.pw_responsive_contact_agent td {
    width: 100% !important;
}

#contactUsForm #contactUsFieldset {
    padding: 0 !important;
}

.dsidx-resp-area {
    height: auto !important;
}

#panel-20-0-0-0 {
    padding: 2.5rem 3rem 3rem !important;
}

.dsidx-resp-search-form fieldset {
    width: 100% !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0px !important;
}

.dsidx-resp-search-box.dsidx-resp-horizontal {
    display: flex;
    width: 100%;
}

form.dsidx-resp-search-form {
    text-align: center;
    width: 100%;
}

@media (min-width: 1200px){
    .dsidx-resp-search-box.dsidx-resp-horizontal {
        width: 1100px;
            padding: 0 3rem;
    }
}

@media (min-width: 992px){
    .dsidx-resp-search-box.dsidx-resp-horizontal {
        width: 970px;
            padding: 0 3rem;
    }

}

/* LATEST REAL ESTATE -> FEATURED LISTINGS */
div.dsidx-results-widget .dsidx-panel .dsidx-photo {
    float: none !important;
    max-width: 100% !important;
    width: 100% !important;
    height: 30rem !important ;
}

div.dsidx-results-widget .featured-listing h4, div.dsidx-results-widget .featured-listing ul{
    width: 100% !important;
}

div.dsidx-results-widget .featured-listing ul li {
    display: inline-block;
    margin: 0 3rem 0 0 !important;
}

.dsidx-photo span:first-child {
position: absolute;
text-transform: uppercase;
color: white;
font-size: 1.6rem;
display: block;
background: rgba(0,0,0,.5);
width: 100%;
text-align: center;
font-weight: 100 !important;
letter-spacing: .15em;
line-height: 2rem;
padding: 1.2rem 1rem 1rem;
font-family: 'Poppins',Helvetica,Arial,sans-serif !important;
top: 0px;
}

div.dsidx-results-widget ul li.price {
    width: 100% !important;
    display: block !important;
    padding-top: 1.6rem !important;
    margin-top: 1.6rem !important;
    border-top: 1px solid #ccc;
    font-size: 3rem !important;
}

.featured-listing {
    font-family: 'Poppins',Helvetica,Arial,sans-serif !important;
}

div.dsidx-results-widget .featured-listing ul {
    /*width: auto !important;
    display: inline-block;*/
}

.dsidx-widget .dsidx-expanded.dsidx-panel {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.dsidx-results-widget .featured-listing {
    margin-bottom: 3rem !important;
}

div.dsidx-results-widget .dsidx-panel .dsidx-photo img{
    min-width: 100% !important;
    height: auto !important;
    min-height: 100% !important;
    width: auto !important;
}

.list-types.panel-row-style.panel-row-style-for-74-1 {
    padding-top: 0;
}

#pgc-74-1-0 {
    margin-bottom: 0 !important;
}

#pgc-74-1-0, #pgc-74-1-1 {
    margin-top: 8rem !important;
}

.agents-section{
    margin-top: 8rem !important;
}
